#content {
    max-width: 1600px;
    margin: 0 auto;
}

nav, a, #hero-msg h1, #hero-msg, h4, .button-box, main, section{
    text-align: center;
}


#background {
    height: 725px;
}



body, #background {
    background-color: #9ed7ac; 

}
header, header a, footer, footer a {
    background-color:rgb(0, 40, 14);
    color:rgb(0, 251, 255);

}

header {
    padding-bottom: 35px;
    padding-top: 20px;
}



nav a:hover {
    background-color: rgb(0, 255, 30);
    color: #000302;

} 

.msg {
    background-color: mediumaquamarine;
    line-height: 1.5em;
}

footer h3 {
    color: aquamarine;
}

.home-title {
    color: rgb(0, 74, 0);
    font-size: 2.5em;
}

main a, #hero a{
    color:rgb(1, 65, 240);
}

.logo {
    width: 80px ;
    margin: 0 auto;
    display: block;
    padding-bottom: 50px;
}


.icon {
    width: 80px;
}

#hero-img {
    width: 100%;
}

nav a, .book, .join, footer a {
    text-align: center;
    text-decoration: none;
}    

nav a:hover{
    text-align: center;
    text-decoration:underline;
}   

footer h3 a:hover {
    text-decoration:underline;
}

p {
    font-size: .8em;
}

body {
    margin: 0;
    padding: 0;
}

h2 {
    margin: 0;
}


nav a {
    text-decoration: none;
    color: #fcfbfb;
    text-align: center;
    padding: 35px;
}


.book, .join {
    background-color: #d9c2a3;
    color: black;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}

.card-img {
    border: 10px solid #002805;
}
main section img {
    box-sizing: border-box;
}
    