
  nav {
    text-align: center;
    padding: 25px;
  }

  a {
    color: white;
    margin: 40px;
    font-size: 1.5em;
    padding: 25px;
  }

  h1 {
    width: 80%;
    color: steelblue;
    text-align: right;
    margin: 50px 0;
    
  }


  div img {
    width: 20%;
    margin: 0 auto;
    display: inline;
    border-radius: 50%;
    border: 15px solid rgb(61, 61, 61);
    margin: 30px;

  }

  img {
    width: 80%;
    display: block;
    margin: 0 auto;
  }

  footer {
    text-align: center;
  }

  nav, footer {
    background-color: steelblue;
    color: white;
}

main p {
  width: 50%;
  margin: 50px auto;
  text-align: right;
}

footer p {
  font-size: 20px;
  margin: 20px auto;
}

a:hover {
  background-color: rgb(25, 59, 132);
  color: rgb(176, 196, 212);}


  footer p {
    padding: 25px;
}

body {
  margin: 0
}

div {
    display: inline;
    background-color: rgb(122, 122, 122);
    display: block;
    text-align: center;
    width: 80%;
    margin: auto;
}